@media screen and (max-width: 1080px) {
  .main-header .nav-list {
    margin-right: 55px;
  }
  .main-header .main-logo {
    margin-left: 20px;
  }
}

@media screen and (max-width: 992px) {
  .main-header .site-navigation {
    display: block;
  }
  .main-header .main-logo {
    margin: 0 auto;
  }
  .footer-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .credit .credit__content {
    margin-left: 25px;
    margin-right: 25px;
    padding: 70px 60px;
  }
  .credit .credit__item {
    width: 45%;
  }
  .bank-offers {
    padding: 0 20px;
  }
  .application {
    padding: 0 25px;
  }
  .application .application__content {
    margin: 40px 25px 0;
  }
  .agreement {
    padding: 0 22px;
  }
  .about .about__content {
    padding: 0 25px;
  }
  .hiw {
    padding: 0 40px;
  }
  .documents {
    padding: 0 20px;
  }
  .offer {
    padding: 0 40px;
  }
  .contacts {
    padding: 0 40px;
  }
  .profile {
    padding: 0 40px;
  }
  .profile .profile__content {
    padding: 65px 100px 30px;
  }
  .profile .profile__passport-content {
    padding: 30px 40px 40px;
  }
  .application-percentage {
    padding: 0 20px;
  }
  .chosen-bank {
    padding: 0 25px;
  }
  .chosen-bank .pl-110 {
    padding-left: 10px;
  }
  .about-us .content {
    padding: 60px 60px;
  }
}

@media screen and (max-width: 768px) {
  .white-container-normal {
    margin: 40px auto 50px;
  }
  .white-container-big {
    margin: 40px auto 50px;
  }
  .main-header .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .main-header .hamburger-menu {
    display: block;
  }
  .main-header .main-logo {
    width: 89px;
    margin: 0;
  }
  .main-header .main-header {
    min-height: 51px;
  }
  .main-header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: absolute;
    top: 60px;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #000;
    background: url(../img/main-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    z-index: 20;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #4f4f4f;
  }
  .main-header .nav-list-active {
    left: 0;
  }
  .main-header .nav-item {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    margin-left: 0;
    border-bottom: 0;
    text-align: center;
  }
  .main-header .nav-item a {
    font-size: 16px;
    line-height: 19px;
    color: #4f4f4f;
  }
  .main-header .nav-item-documents {
    display: block;
  }
  .main-header .nav-item:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-header .nav-item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main-header .nav-item:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main-header .nav-item:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main-header .nav-item:nth-child(5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 70px;
    margin-bottom: 27px;
  }
  .main-header .nav-item:hover {
    border-bottom: 0;
  }
  .main-header .nav-item:hover .nav-link {
    color: green;
  }
  .main-header-authenticated .nav-item-profile-photo {
    margin-top: 48px;
    margin-bottom: 12px;
    padding: 0;
    display: block;
    width: 80px;
    height: 80px;
    background: #bacfc0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50.5px;
  }
  .main-header-authenticated .nav-item-profile-photo img {
    width: 100%;
    height: 100%;
  }
  .main-header-authenticated .nav-item {
    margin-top: 20px;
    padding-left: 0;
  }
  .main-header-authenticated .nav-item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-header-authenticated .nav-item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-header-authenticated .nav-item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main-header-authenticated .nav-item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main-header-authenticated .nav-item:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main-header-authenticated .nav-item-btn {
    width: 172px;
    margin: 33px auto 0;
    padding: 12px 0;
    background: #ff4343;
    border-radius: 20px;
  }
  .main-header-authenticated .nav-item-btn a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .main-header-authenticated .nav-item-btn .nav-link:hover {
    color: green;
  }
  .main-header-authenticated .nav-item-btn:hover {
    background: #ca2a2a;
  }
  .main-header-authenticated .dropdown {
    position: relative;
    display: block;
  }
  .main-header-authenticated .dropdown-content {
    display: block;
    position: static;
    top: 0;
    left: 0;
    min-width: 200px;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 0;
    background-color: inherit;
    border-radius: 5px;
  }
  .main-header-authenticated .dropdown-content a {
    color: inherit;
    margin: 0;
    padding: 5px 13px 0;
    text-decoration: none;
    display: block;
    border: none;
  }
  .main-header-authenticated .dropdown-content a:hover {
    background-color: inherit;
    color: green;
  }
  .main-header-authenticated .dropdown-content a:hover {
    border: none;
  }
  .hidden-element {
    display: block;
    width: 75px;
  }
  .bank-offers {
    margin: 40px auto 0;
  }
  .bank-offers .bank-offers__content {
    padding: 32px 20px;
    margin: 30px auto 0;
  }
  .bank-offers .bank-offers__table {
    font-size: 12px;
  }
  .bank-offers .bank-offers__table-col:first-child {
    padding-left: 10px;
  }
  .bank-offers .bank-offers__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    font-size: 10px;
  }
  .bank-offers .bank-offers__red-button {
    margin-right: 4px;
  }
  .application {
    padding: 0;
  }
  .application__flex-container {
    display: block;
  }
  .application__left,
  .application__right {
    width: 100%;
  }
  .application__inputs {
    width: 100%;
  }
  .application__inputs3 {
    width: 100%;
    margin-top: 10px;
  }
  .about .about__content {
    margin-top: 40px;
    padding: 0 25px;
    display: block;
  }
  .about .about__title {
    margin: 0;
  }
  .about .about__video .main-video__content {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }
  .about .about__form {
    margin-top: 34px;
    margin-bottom: 0;
  }
  .about .about__form .about__content {
    margin-top: 0;
  }
  .about .about__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .about .about__input,
  .about .about__text-and {
    width: 100%;
    margin-bottom: 15px;
  }
  .about .about__text-and {
    font-size: 16px;
  }
  .hiw {
    padding: 0 20px;
  }
  .hiw .hiw__title {
    margin-top: 50px;
  }
  .hiw .hiw__dropdown-list {
    padding: 35px 0px 0;
  }
  .info {
    padding: 0;
  }
  .info .info__content {
    padding: 30px 24px;
  }
  .flex-space-between {
    display: block;
  }
  .contacts .contacts__map {
    margin-top: 40px;
  }
  .contacts .contacts__content {
    padding: 55px 100px;
  }
  .contacts .contacts__website,
  .contacts .contacts__email,
  .contacts .contacts__phone-number-input {
    margin-left: 0;
  }
  .proposal-loading .proposal-loading__sub-title2 {
    margin-bottom: 100px;
  }
  .proposal-info {
    padding: 0 25px;
  }
  .proposal-info .proposal-info__sub-title {
    margin-top: 10px;
  }
  .profile {
    padding: 0 25px;
  }
  .profile .profile__content {
    padding: 65px 50px 30px;
  }
  .profile .profile__passport-row {
    display: block;
  }
  .profile .profile__passport-col {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .profile .profile-edit__icon-button {
    right: 20px;
  }
  .login {
    padding: 0 23px;
  }
  .login .login__title {
    margin-top: 40px;
  }
  .login .login__container {
    margin-top: 30px;
  }
  .chosen-bank {
    padding: 0 25px;
    text-align: center;
  }
  .chosen-bank .chosen-bank__title {
    margin-top: 40px;
    font-size: 28.6957px;
  }
  .chosen-bank .chosen-bank__sub-title {
    margin-top: 30px;
  }
  .chosen-bank .container {
    padding: 30px 20px 30px;
  }
  .chosen-bank .inner-title {
    margin: 0;
  }
  .chosen-bank .row {
    display: block;
  }
  .chosen-bank .col {
    width: 100%;
  }
  .chosen-bank .col a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .chosen-bank .map {
    width: 264px;
    height: 132px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .chosen-bank .address {
    margin: 0 auto;
    margin-top: 27px;
  }
  .chosen-bank .inner-left-text {
    margin: 20px 0;
  }
  .support {
    padding: 0 25px;
  }
  .support .content {
    padding: 60px 40px;
  }
  .support .support__input,
  .support .support__select {
    width: 250px;
  }
  .about-us {
    padding: 0 24px;
  }
}

@media screen and (max-width: 762px) {
  body {
    background-position: 0 20px;
    background-size: 100% 100%;
  }
  .footer-content {
    display: block;
  }
  .footer-content .footer-content__menu {
    width: 132px;
    margin: 0 auto 40px;
    text-align: center;
  }
  .footer-content .footer-content__logo {
    width: 169px;
    margin: 0 auto;
  }
  .footer-content .footer-content__contacts {
    width: 175px;
    margin: 30px auto 0;
  }
  .credit .credit__content {
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .credit .credit__item:nth-child(2),
  .credit .credit__item:nth-child(4) {
    margin-left: 0;
    margin-top: 45px;
    width: 100%;
  }
  .credit .credit__item {
    display: block;
    width: 100%;
  }
  .credit .credit__item-sum input {
    width: 60%;
  }
  .credit .credit__item-sum select {
    width: 30%;
    margin-left: auto;
  }
  .credit .credit__item-term select {
    width: 100%;
  }
  .credit .credit__list .credit__item-quiz select {
    width: 100%;
  }
  .credit .credit__list .credit__item-bail {
    width: 93%;
  }
  .credit-button {
    width: 280px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .application__content {
    max-width: 870px;
    margin: 60px auto 0;
    padding: 60px 20px;
  }
  .application__title {
    margin: 40px auto 0;
    font-size: 24px;
  }
  .application__sub-title1,
  .application__sub-title2 {
    font-size: 18px;
  }
  .application__sub-title1 {
    margin: 30px auto 10px;
  }
  .application .application__sms-button {
    width: 100%;
    margin-top: 44px;
    padding: 18px 50px;
    font-size: 14px;
  }
  .documents .documents__content {
    padding: 30px 25px;
  }
  .offer {
    padding: 0 20px;
  }
  .offer .offer__content {
    padding: 40px 24px;
  }
  .contacts {
    padding: 0 25px;
  }
  .contacts .contacts__content {
    padding: 55px 40px;
  }
  .contacts .contacts__button {
    width: 100%;
  }
  .proposal .proposal__list {
    margin-top: 40px;
    padding: 0 25px;
  }
  .proposal .proposal__item {
    margin: 0 auto 30px;
  }
  .proposal .proposal__item:last-child {
    margin-bottom: 40px;
  }
  .proposal .proposal__link {
    padding: 16px 20px;
  }
  .proposal .proposal__edit-link a {
    width: 90%;
    font-size: 14px;
  }
  .profile {
    padding: 0 25px;
  }
  .profile .profile__content {
    padding: 65px 15px 20px;
  }
  .profile input::-webkit-input-placeholder {
    font-size: 11px;
  }
  .profile input:-ms-input-placeholder {
    font-size: 11px;
  }
  .profile input::-ms-input-placeholder {
    font-size: 11px;
  }
  .profile input::placeholder {
    font-size: 11px;
  }
  .profile .profile__row {
    display: block;
  }
  .profile .profile__col {
    width: 100%;
    background: none;
    padding-left: 8px;
  }
  .profile .profile__col .profile__date-input {
    font-size: 11px;
  }
  .profile .profile__passport-photo-inputs .photo-label {
    width: 70%;
    padding-right: 40px;
  }
  .profile .profile__passport-photo-inputs .photo-camera-label {
    width: 30%;
    background: url(../img/icons/photo-camera-icon.png) 100% 50% no-repeat;
  }
  .support .content {
    padding: 45px 24px;
    color: #828282;
  }
  .support .row {
    display: block;
  }
  .support .support__input,
  .support .support__select {
    width: 100%;
  }
  .support .name {
    text-align: center;
  }
  .support .col-left,
  .support .col-right {
    width: 100%;
  }
  .support .photo-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .support .photo-item {
    width: 120px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .support .support-button {
    margin-top: 25px;
  }
  .about-us .content {
    padding: 40px 24px;
  }
  .login .login__buttons {
    display: block;
    width: 250px;
    margin-bottom: 90px;
  }
  .login .login-btn {
    width: 100%;
    margin: 40px 0 0px;
  }
}
/*# sourceMappingURL=media.css.map */